.navbar-brand {
  padding-right: 15rem !important;
  text-align: left;
}
.navbar {
  padding-left: 0rem !important;
}
.aheadinglol{
  text-align: center;
}
.row {
  padding-left: 0rem;
  padding-right: 0rem;
}